body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 450px;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
}

#settings {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

#settings-panel {
  display: none;
  height: 400px;
  padding-top: 100px;
}

#settings-panel .settings-panel-item {
  padding-bottom: 20px;
}

#settings-panel span {
  font-size: 14px;
  font-weight: bold;
}

#keyboard-options {
  padding: 0;
  align-items: center;
}

#keyboard-options li {
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  box-sizing: border-box;
}

#keyboard-options li.selected {
  text-decoration: underline;
}

#keyboard-options li:hover {
  border: 2px solid black;
}

#shuffle {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#shuffle:hover {
  background-color: #0056b3;
}

#cube-container {
  width: 400px;
  height: 400px;
}

#timer {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
}