body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 450px;
}

h1 {
  color: #333;
}

#shuffle {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#shuffle:hover {
  background-color: #0056b3;
}

#cube-container {
  width: 400px;
  height: 400px;
}

#timer {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
}