#quick-cube-body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 750px;
  min-height: 450px;
}

#quick-cube-body * {
  box-sizing: border-box;
}

#quick-cube-body canvas {
  /* border: 1px solid #ccc; */
  image-rendering: pixelated;
  /* Maintain pixelated look */
}

h1 {
  color: #333;
}

ul {
  list-style: none;
}

#settings {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

#settings-panel {
  display: none;
  height: 400px;
  padding-top: 100px;
}

#settings-panel .settings-panel-item {
  padding-bottom: 20px;
}

#settings-panel span {
  font-size: 14px;
  font-weight: bold;
}

#keyboard-options {
  padding: 0;
  align-items: center;
}

#keyboard-options li {
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  box-sizing: border-box;
}

#keyboard-options li.selected {
  text-decoration: underline;
}

#keyboard-options li:hover {
  border: 2px solid black;
}

#shuffle {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#shuffle:hover {
  background-color: #0056b3;
}

#cube-container {
  width: 400px;
  height: 400px;
  /* margin-left: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#pixel-art-container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

#zoom-indicator {
  font-size: 20px;
  font-weight: bold;
}

#zoom-canvas-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 40px;
}

#zoomCanvas {
  border: 1px solid black;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  /* display: none; */
  z-index: 2;
  transform-origin: top left;
  transition: transform 0.3s ease;
}

#timer {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
}

#congrats {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0;
  cursor: auto;
  user-select: none;
}

#congrats h1 {
  font-size: 28px;
}